/*Footer*/

footer {
  background-color: black;
  color: #fff;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 5px;
}

.icons {
  font-size: 2rem;
  color: #FFF;
  margin: 10px 5px;
  transition: font-size 0.3s;
}

.icons:hover {
  font-size: 2.5rem;
}

.credit {
  margin-top: 5px;
  height: 20px;
}

/*Footer*/