/*Footer*/

footer {
  background-color: black;
  color: #fff;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.icon-container {
  margin-top: 0;
}

.icons {
  font-size: 2rem;
  color: #FFF;
  margin: 5px 5px;
  transition: font-size 0.3s;
}

.icons:hover {
  font-size: 2.1rem;
}

.credit {
  margin-top: 5px;
  height: 20px;
  padding-bottom: 20px;
}

/*Footer*/