#navUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  font-weight: 800;
}

#navUl li a {
  text-transform: uppercase;
  color: white;
  padding: 12px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#navUl li a:hover {
  background-color: #517337;
}

#navUl li a:active {
  background-color: #517337;
}

.current {
  background-color: #517337;
  transition: background-color 1s;
}