#navUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0;
  font-weight: 800;
  overflow: hidden;
}

#navUl li {
  padding: 10px;
}

#navUl li a {
  text-transform: uppercase;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

#navUl li a:hover {
  background-color: #517337;
}

#navUl li a:active {
  background-color: #6f94d1;
}

.current {
  background-color: #6f94d1;
  transition: background-color 1s;
}