@import "header.css";

@import "footer.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}


/*Sections containing image Container*/

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 50px;
}

.responsive {
  width: 100%;
  height: auto;
  max-height: 200px;
  margin: 0.5% 0;
  border: 2px solid green;
  border-radius: 15px;
  margin: 0 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 270px;
  border-radius: 5px;
  margin: 5px 5px;
  background-color: #fff;
}

.card-text {
  margin: 0 0;
  padding: 5px 0;
}

.section-heading {
  background: #325755;
  padding: 5px;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0 5px;
}

#input {
  padding-top: 5%;
}

.active-section {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Sections containing image Container*/

/*Back to Top Button*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: steelblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*Back to Top Button*/

