body{
	background-color: steelblue;
	margin: 10% auto;
	text-align: center;
}

#input {
	margin: auto;
}

button {
	font-size: 20px;
}

#search {
	width: 20%;
	height: 20px;
}

.imageContainer{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.responsive{
	width: 100%;
	max-width: 300px;
	height: auto;
	max-height: 200px;
	margin: 0.5% 0;
	border: 2px solid green;
	border-radius: 15px;
	margin: 0 0;

}

.notification {
	color: green;
	display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  margin: 5px 5px;
}

.card-text {
/*	background: green;*/
	margin: 0 0;
	padding: 5px 0;
}

.section-heading {
	background: #325755;
	padding: 5px;
	width: 100%;
	font-size: 1.5rem;
	color: #FFF;
	text-transform: uppercase;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.active, li a:hover {
  background-color: red;
}